{% extends "base.html.twig" %}
{% block header %}
	{% include "layouts/_header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		<h2>Inscription</h2>
		<form id="subscribeForm"action="/postUser" method="post">
			<input type="text" name="name" id="name" placeholder="Nom d'utilisateur" required><br>
			{% if errors.name is defined %}
				<p class="error">{{errors.name.message}}</p>
			{% endif %}
			<input type="email" name="email" id="email" placeholder="Email" required> <br>
            {% if errors.email is defined %}
				<p class="error">{{errors.email.message}}</p>
			{% endif %}
			<input type="password" name="password" id="password" placeholder="Mot de passe" required> <br>
            {% if errors.password is defined %}
				<p class="error">{{errors.password.message}}</p>
			{% endif %}
			<button>S'inscrire</button>
		</form>
	</main>
{% endblock %}
