<header>
	<div class="titleContainer">
		<img id="logo"src="/images/Manageo.png" alt="logo">
		<h1>Gestion d'utilisateur</h1>
	</div>
	{% if uri == "/" %}
		<a href="/connexion">Connexion</a>
	{% elseif uri == "/userProfile" %}
		<a href="/connexion">Déconnexion</a>
	{% else %}
		<a href="/">Inscription</a>
	{% endif %}

</header>
