{% extends "base.html.twig" %}
{% block title %} <title>Connexion</title> {% endblock %}
{% block header %}
	{% include "layouts/_header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		<h2>Connexion</h2>
		<form action="/postLogin" method="post" id="connexionForm">
			<input type="text" name="email" placeholder="email" class="input" required>
			{% if error.email is defined  %}
				<p class="error">{{error.email}}</p>
			{% endif %}
			<input type="password" name="password" placeholder="password" class="input" required>
			{% if error.password is defined  %}
				<p class="error">{{error.password}}</p>
			{% endif %}
			<button class="button validateButton">Valider</button>
		</form>
	</main>
{% endblock %}
